---
---
@import 'media';
@font-face {
  font-family: 'papa';
  src: url('{{ site.url }}/fonts/papa.eot'); /* IE9 Compat Modes */
  src: url('{{ site.url }}/fonts/papa.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('{{ site.url }}/fonts/papa.woff2') format('woff2'), /* Super Modern Browsers */
       url('{{ site.url }}/fonts/papa.woff') format('woff'), /* Pretty Modern Browsers */
       url('{{ site.url }}/fonts/papa.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('{{ site.url }}/fonts/papa.svg#svgFontName') format('svg'); /* Legacy iOS */
}

$base-font-family: papa;
$base-font-size: 1.75em;
$smallest-font-size: $base-font-size * .333333;
$one-minus-smallest-font-size: 1 - $smallest-font-size;
$one-plus-one-minus-smallest-font-size: 1 + $one-minus-smallest-font-size;
$smallestest-font-size: $base-font-size * .066667;
$large-font-size: $base-font-size * 2;
$black: #111;
$blue: #2a7ae2;

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 1.25;
}
p {
  margin: 1em;
}
.left {
  float: left;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.p1 {
  padding: 0 0 0 $one-minus-smallest-font-size;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.grid1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @include media('portrait') { grid-template-columns: 1fr; grid-auto-rows: minmax(100vw, auto) auto; }
  grid-auto-rows: minmax(11.1111vw, auto);
}
.gridtag {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @include media('portrait') { grid-template-columns: 1fr; grid-auto-rows: minmax(50vw, auto) auto; }
  grid-auto-rows: minmax(16.6667vw, auto);
}
.nav {
  grid-column: 2;
  grid-row: 1;
  align-items: baseline;
  align-self: end;
}
.rd {
  grid-column: 2 / 4;
  @include media('portrait') { grid-column:1; grid-row: 3; }
}
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
}
.li {
  grid-column: 1;
  @include media('portrait') { grid-column:1 / 3; }
}
.ri {
  grid-column: 2;
  display: flex;
  flex-direction: column-reverse;
  @include media('portrait') { grid-column:1 / 3; flex-direction: column; }
}
.mi {
  grid-column: 1 / 3;
  @include media('portrait') { grid-row: 2; }
}
.n1 {
 grid-column: 2 / 4;
 grid-row: 2 / 4;
}
.taglist {
  width: auto;
}
@media only screen and (min-width:400px) {
.taglist { width: 450px; }
}
.m1 > div {
  margin-bottom: 5vw;
}
.m1:last-child > div {
  margin-bottom: 0;
}
.n0 {
  height: 12.5vw;
}.n0 ul {
  display: inline-block;
  vertical-align: top;
  list-style: none;
}
.n0 li {
  margin:  $one-minus-smallest-font-size $one-minus-smallest-font-size 0 $one-minus-smallest-font-size;
  display:inline-block;
}
.n0 li li {
  display: block;
  margin: 0 0 $one-minus-smallest-font-size 0;
}
.z0 ul {
  vertical-align: top;
  display: inline-block;
  list-style: none;
}
.z0 ul li {
  margin: $one-minus-smallest-font-size;
}
.hide5 { display: none; }
@media only screen and (min-width: 550px) {
  .hide5 { display: inline; }
}


.a {
  color: $blue;
  border: 1px solid #333;
  padding: $smallest-font-size;
  white-space: nowrap;
}
.a:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.a2 {
    color: $blue;
    text-decoration: none;
}
.a2:hover {
    text-decoration: underline;
}
.blue {
    fill:$blue;
}
.email {
    stroke-miterlimit: 10;
    stroke:$blue;
    fill:none;
    stroke-linejoin:round;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.nav ul a {
  background-color: white;
}
.nav ul {
    list-style: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}
.nav ul a {
    display: block;
    color: $blue;
    padding: .33em $smallest-font-size;
    white-space: nowrap;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}
ul li ul a:hover {
    color: #fff;
}
.nav ul li {
    position: relative;
    float: left;
    margin-right: .33em;
}
.nav ul li ul li:hover {
    background:$blue;
    box-shadow: 0 0;
}
.nav ul li ul, .nav ul li:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav ul ul {
    display: none;
    position: absolute;
    top: 99%;
    left: 0;
    background: #fff;
    padding: 0;
    border-top: 1px solid #333;
    z-index:1;
}
.nav ul ul li {
    float: none;
    margin-right: 0;
}
.nav ul ul li a {
    border-top: none;
}
.nav ul ul ul {
    top: 0;
    left: 100%
}
.nav ul li:hover > ul {
    display: block
}
.copied, .copied:hover {
  background: #fff;
    color: $black;
  }
.m3 {
  margin-bottom: -.15em;
}




.z1 {
    cursor: zoom-in;
}
.div96 {
    height: 0;
    position: relative;
    float: left;
    margin: 1vw;
    width: 96%;
}
.div {
    height: 0;
    width: 100%;
    position: relative;
    float: left;
}
.pb100 {
    padding-bottom: 100%;
}
.img {
    width: 100%;
    height: auto;
    position: absolute;
}
.alt {
    color: $blue;
    font-size: .02em;
    font-size: 1.5vw;
}



.videowrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



body,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0;
}
