---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size: 1.5em;
$smallest-font-size: $base-font-size * .333333;
$smallestest-font-size: $base-font-size * .066667;
$large-font-size: $base-font-size * 2;
$black: #111;
$blue: #2a7ae2;

/**
 * Basic styling
 */

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-font-size;
    font-weight: 300;
    color: $black;
    -webkit-text-size-adjust: 100%;
    background-size: 100%;
    background-repeat: repeat;
    background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
}
.flexbg {
    background-size: 100%;
    background-image: url('../25/grid.jpg');
    background-repeat: repeat;
}
body .noflex { width: 33.3333%; float: left; }
.bg {
    background-image: url('../06/grid.jpg');
    background-size: 33.33333%;
    background-repeat: repeat;
  }
.bg-bottom {
    background-position: 100% 100%;
    background-position-x: 100%;
    background-position-y: 100%;
  }
/**
 * Columns
 */

article {
   float: left;
   width: 33.3333%;
}

.article {
   float: left;
   width: 50%;
}

.article2 {
   float: left;
   width: 50%;
}

/**
 * Reset some basic elements
 */

body,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.z1 {
    cursor: zoom-in;
}
.taglist {
  width: auto;
}
/**
 * Text
 */

.lineheight {
    line-height: $large-font-size;
}

/**
 * Links
 */

.a {
    color: $blue;
    border: 1px solid #333;
    padding: $smallest-font-size;
    white-space: nowrap;
}
.a:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.a2 {
    color: $blue;
    text-decoration: none;
}
.a2:hover {
    text-decoration: underline;
}
.blue {
    fill:$blue;
}
.email {
    stroke-miterlimit: 10;
    stroke:$blue;
    fill:none;
    stroke-linejoin:round;
}

/**
 * Borders
 */
.border {
    border: 1px solid $black;
}
.border-top {
    border-top: 1px solid $black;
}
.border-bottom {
      border-bottom: 1px solid $black;
}
.border-right {
      border-right: 1px solid $black;
}
.border-left {
      border-left: 1px solid $black;
}

/**
 * Navigation
 */

.x {
    position: fixed;
    right: 0;
    top: 1.5em;
    z-index: 1;
    padding: $smallest-font-size;
}
.x1 {
    position: fixed;
    right: 0;
    top: 4em;
    z-index: 1;
    padding: $smallest-font-size;
}
.x1b {
    position: fixed;
    right: 0;
    top: 100px;
    z-index: 1;
    padding: $smallest-font-size;
}
.x2 {
    stroke:$black;
    stroke-width: 2;
    fill: none;
    stroke-linecap:'round';
    stroke-linejoin:'round';
}
.x3 {
    width: 66%;
}
.x4 {
    position: absolute;
    right: .5em;
    text-align: right;
}
.hide { display: none; }
.hide2 { display: none; }
.hide3 { display: none; }
.hide4 { display: none; }
.hide5 { display: none; }

/**
 * Margins
 */
.m1 > div {
    margin-bottom: $base-font-size;
}
.m1:last-child > div {
    margin-bottom: 0;
}
.m2 {
    margin-top: $base-font-size;
}
.m3 {
    margin-bottom: -.15em;
}
.p0 {
    padding-top: 0;
}
.p {
    padding: 0 $smallest-font-size;
    max-width:900px;
    margin: auto;
    position:relative;
}
.p05 {
     padding: $smallest-font-size;
}
.p1 {
    padding-bottom: 2em;
}
.padding-right {
    padding-right: $smallest-font-size;
}
.left {
    float: left;
}
.w1 {
    width: 100%;
}
.w2 {
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 1;
}

/**
 * Clearfix
 */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/**
 * Cover
 */

.cover {
    background-size: contain;
    padding-bottom: 100%;
}
.cover:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/**
 * Indent
 */
.dollar {
    font-size: $smallest-font-size;
    vertical-align: 22%;
    margin-left: -.5em;
}
.quote {
    position: relative;
    left: -.25em;
}

/**
 * Images
 */
.div {
    width: 100%;
    height: 0;
    position: relative;
    float: left;
}
.pb100 {
    padding-bottom: 100%;
}
.img {
    width: 100%;
    height: auto;
    position: absolute;
}
.alt {
    color: $blue;
    font-size: .02em;
    font-size: 1.5vw;
}

/**
 * Video
 */
.videowrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: $base-font-size;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/**
 * Dropdown Menu
 */
ul {
    list-style: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}
ul a {
    display: block;
    color: $blue;
    padding: .33em $smallest-font-size;
    white-space: nowrap;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}
ul li ul a:hover {
    color: #fff;
}
ul li {
    position: relative;
    float: left;
    margin-right: .33em;
}
ul li ul li:hover {
    background:$blue;
    box-shadow: 0 0;
}
ul li ul, ul li:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
ul ul {
    display: none;
    position: absolute;
    top: 99%;
    left: 0;
    background: #fff;
    padding: 0;
    border-top: 1px solid #333;
    z-index:1;
}
ul ul li {
    float: none;
    margin-right: 0;
}
ul ul li a {
    border-top: none;
}
ul ul ul {
    top: 0;
    left: 100%
}
ul li:hover > ul {
    display: block
}
.copied, .copied:hover {
  background: #fff;
    color: $black;
  }

/**
 * Media
 */
@media only screen and (min-width:400px) {
    body .flex {
        width: 33.3333%;
        float: left;
    }
    .flexbg {
        background-size: 33.3333%;
    }
    .p0 {
        padding-top: 4em;
        padding-top: 14vw;
    }
    .hide {
        display:inline;
    }
    .taglist {
      width: 450px;
    }
}
@media only screen and (min-width: 500px) { .hide5 { display: inline; } }
@media only screen and (min-width: 700px) { .hide4 { display: inline; } }
@media only screen and (min-width: 900px) { .hide3 { display: inline; } }
@media only screen and (min-width: 1200px) { .hide2 { display: inline; } }
@media only screen and (min-width:288px) {
    .bg {
    background-image: url('../12/grid.jpg');
    }
}
@media only screen and (min-width:400px) {
  .flexbg {
  background-image: url('../12/grid.jpg');
  }
}
@media only screen and (min-width:582px) {
    .bg, .flexbg {
    background-image: url('../25/grid.jpg');
    }
}
@media only screen and (min-width:1000px) {
    .bg, .flexbg {
    background-image: url('../50/grid.jpg');
    }
}
@media only screen and (min-width:2400px) {
    .bg, .flexbg {
    background-image: url('../grid.jpg');
    }
}
