---
# Only the main Sass file needs front matter (the dashes are enough)
---
@font-face {
  font-family: 'papa';
  src: url('{{ site.url }}/fonts/papa.eot'); /* IE9 Compat Modes */
  src: url('{{ site.url }}/fonts/papa.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('{{ site.url }}/fonts/papa.woff2') format('woff2'), /* Super Modern Browsers */
       url('{{ site.url }}/fonts/papa.woff') format('woff'), /* Pretty Modern Browsers */
       url('{{ site.url }}/fonts/papa.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('{{ site.url }}/fonts/papa.svg#svgFontName') format('svg'); /* Legacy iOS */
}
// Our variables
$base-font-family: papa;
$base-font-size: 1.75em;
$smallest-font-size: $base-font-size * .333333;
$smallestest-font-size: $base-font-size * .066667;
$large-font-size: $base-font-size * 2;
$black: #111;
$blue: #2a7ae2;

/**
 * Basic styling
 */

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 1.25;
  color: $black;
}

article {
   float: left;
   width: 33.3333%;
}

.article {
   float: left;
   width: 50%;
}

.article2 {
   float: left;
   width: 50%;
   max-width: 450px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
ul a {
  background-color: white;
}


/**
 * Reset some basic elements
 */

body,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.z1 {
    cursor: zoom-in;
}
.taglist {
  width: auto;
}
/**
 * Text
 */

.lineheight {
    line-height: $large-font-size;
}

/**
 * Links
 */

.a {
    color: $blue;
    border: 1px solid #333;
    padding: $smallest-font-size;
    white-space: nowrap;
}
.a:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.a2 {
    color: $blue;
    text-decoration: none;
}
.a2:hover {
    text-decoration: underline;
}
.blue {
    fill:$blue;
}
.email {
    stroke-miterlimit: 10;
    stroke:$blue;
    fill:none;
    stroke-linejoin:round;
}

/**
 * Borders
 */
.border {
    border: 1px solid $black;
}
.border-top {
    border-top: 1px solid $black;
}
.border-bottom {
      border-bottom: 1px solid $black;
}
.border-right {
      border-right: 1px solid $black;
}
.border-left {
      border-left: 1px solid $black;
}

/**
 * Navigation
 */

.x {
    position: fixed;
    right: 0;
    top: 1.5em;
    z-index: 1;
    padding: $smallest-font-size;
}
.x1 {
    position: fixed;
    right: 0;
    top: 4em;
    z-index: 1;
    padding: $smallest-font-size;
}
.x2 {
    stroke:$black;
    stroke-width: 2;
    fill: none;
    stroke-linecap:'round';
    stroke-linejoin:'round';
}
.x3 {
    width: 66%;
    padding: 0.33em 0;
}
.x4 {
  position: fixed;
  right: 0;
  top: 50%;
  margin-top: -25px;
  z-index: 1;
}
.x5 {
  position: fixed;
  left: 0;
  top: 50%;
  margin-top: -25px;
  z-index: 1;
}
.show { display: inline; }
.show2 { display: inline; }
.hide { display: none; }
.hide3 { display: none; }
.hide4 { display: none; }
.hide5 { display: none; }
.hide6 { display: none; }
.hide7 { display: none; }
.hide8 { display: none; }

/**
 * Margins
 */
.m1 > div {
    margin-bottom: $base-font-size;
}
.m1:last-child > div {
    margin-bottom: 0;
}
.m2 {
    margin-top: $base-font-size;
}
.m3 {
    margin-bottom: -.15em;
}
.p {
    padding: 0 $smallest-font-size;
    max-width:900px;
    margin: 1.75em auto 0 auto;
    position:relative;
}
.p05 {
     padding: $smallest-font-size;
}
.p1 {
    padding-bottom: 2em;
}
.padding-right {
    padding-right: $smallest-font-size;
}
.left {
    float: left;
}
.w1 {
    width: 100%;
}
.w2 {
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 1;
}

/**
 * Clearfix
 */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/**
 * Cover
 */

.cover {
    background-size: contain;
    padding-bottom: 100%;
}
.cover:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/**
 * Indent
 */
.dollar {
    font-size: $smallest-font-size;
    vertical-align: 22%;
    margin-left: -.5em;
}

/**
 * Images
 */
.div {
    width: 100%;
    height: 0;
    position: relative;
    float: left;
}
.pb100 {
    padding-bottom: 100%;
}
.img {
    width: 100%;
    height: auto;
    position: absolute;
}
.alt {
    color: $blue;
    font-size: .02em;
    font-size: 1.5vw;
}

/**
 * Video
 */
.videowrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/**
 * Dropdown Menu
 */
ul {
    list-style: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}
ul a {
    display: block;
    color: $blue;
    padding: .33em $smallest-font-size;
    white-space: nowrap;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}
ul li ul a:hover {
    color: #fff;
}
ul li {
    position: relative;
    float: left;
    margin-right: .33em;
}
ul li ul li:hover {
    background:$blue;
    box-shadow: 0 0;
}
ul li ul, ul li:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
ul ul {
    display: none;
    position: absolute;
    top: 99%;
    left: 0;
    background: #fff;
    padding: 0;
    border-top: 1px solid #333;
    z-index:1;
}
ul ul li {
    float: none;
    margin-right: 0;
}
ul ul li a {
    border-top: none;
}
ul ul ul {
    top: 0;
    left: 100%
}
ul li:hover > ul {
    display: block
}
.copied, .copied:hover {
  background: #fff;
    color: $black;
  }

/**
 * Media
 */
@import 'media';

.shop{
  background-size: 50%;
  background-position-y: 100%;
  background-image: url('../1/grid.jpg');
  @include media('>=400px') {background-image: url('../2/grid.jpg');}
  @include media('>=800px') {background-image: url('../3/grid.jpg');}
  @include media('>=1600px') {background-image: url('../4/grid.jpg');}
  @include media('>=3600px') {background-image: url('../grid.jpg');}
  @include media('>=400px', 'retina2x') {background-image: url('../3/grid.jpg');}
  @include media('>=800px', 'retina2x') {background-image: url('../4/grid.jpg');}
  @include media('>=1600px', 'retina2x') {background-image: url('../grid.jpg');}
  @include media('>=200px', 'retina4x') {background-image: url('../3/grid.jpg');}
  @include media('>=400px', 'retina4x') {background-image: url('../4/grid.jpg');}
  @include media('>=800px', 'retina4x') {background-image: url('../grid.jpg');}
}
.flexbg{
  background-size: 100%;
  background-image: url('../1/grid.jpg');
  @include media('>=200px') {background-image: url('../2/grid.jpg');}
  @include media('>=400px') {background-image: url('../3/grid.jpg');}
  @include media('>=800px') {background-image: url('../4/grid.jpg');}
  @include media('>=1600px') {background-image: url('../grid.jpg');}
  @include media('>=200px', 'retina2x') {background-image: url('../3/grid.jpg');}
  @include media('>=400px', 'retina2x') {background-image: url('../4/grid.jpg');}
  @include media('>=800px', 'retina2x') {background-image: url('../grid.jpg');}
  @include media('>=200px', 'retina4x') {background-image: url('../4/grid.jpg');}
  @include media('>=400px', 'retina4x') {background-image: url('../grid.jpg');}
}
{% for article in site.posts %}
.a{{ article.permalink }} {
  background-size: 100%;
  background-image: url('../1/{{ article.permalink }}.jpg');
  @include media('>=200px') {background-image: url('../2/{{ article.permalink }}.jpg');}
  @include media('>=400px') {background-image: url('../3/{{ article.permalink }}.jpg');}
  @include media('>=800px') {background-image: url('../4/{{ article.permalink }}.jpg');}
  @include media('>=1600px') {background-image: url('../{{ article.permalink }}.jpg');}
  @include media('>=200px', 'retina2x') {background-image: url('../3/{{ article.permalink }}.jpg');}
  @include media('>=400px', 'retina2x') {background-image: url('../4/{{ article.permalink }}.jpg');}
  @include media('>=800px', 'retina2x') {background-image: url('../{{ article.permalink }}.jpg');}
  @include media('>=200px', 'retina4x') {background-image: url('../{{ article.permalink }}.jpg');}
}
{% endfor %}
{% for article in site.posts %}
.shop{{ article.permalink }}{
  background-size: 100%;
  background-image: url('../1/{{ article.permalink }}.jpg');
  @include media('>=400px') {background-image: url('../2/{{ article.permalink }}.jpg');}
  @include media('>=800px') {background-image: url('../3/{{ article.permalink }}.jpg');}
  @include media('>=1600px') {background-image: url('../4/{{ article.permalink }}.jpg');}
  @include media('>=3600px') {background-image: url('../{{ article.permalink }}.jpg');}
  @include media('>=400px', 'retina2x') {background-image: url('../3/{{ article.permalink }}.jpg');}
  @include media('>=800px', 'retina2x') {background-image: url('../4/{{ article.permalink }}.jpg');}
  @include media('>=1600px', 'retina2x') {background-image: url('../{{ article.permalink }}.jpg');}
  @include media('>=200px', 'retina4x') {background-image: url('../3/{{ article.permalink }}.jpg');}
  @include media('>=400px', 'retina4x') {background-image: url('../4/{{ article.permalink }}.jpg');}
  @include media('>=800px', 'retina4x') {background-image: url('../{{ article.permalink }}.jpg');}
}
{% endfor %}

.bg{
  background-size: 11.11%;
  background-image: url('../1/grid.jpg');
  @include media('>=1800px') {background-image: url('../2/grid.jpg');}
  @include media('>=3600px') {background-image: url('../3/grid.jpg');}
  @include media('>=7200px') {background-image: url('../4/grid.jpg');}
  @include media('>=14400px') {background-image: url('../grid.jpg');}
  @include media('>=900px', 'retina2x') {background-image: url('../2/grid.jpg');}
  @include media('>=1800px', 'retina2x') {background-image: url('../3/grid.jpg');}
  @include media('>=3600px', 'retina2x') {background-image: url('../4/grid.jpg');}
  @include media('>=7200px', 'retina2x') {background-image: url('../grid.jpg');}
  @include media('>=675px', 'retina3x') {background-image: url('../2/grid.jpg');}
  @include media('>=1350px', 'retina3x') {background-image: url('../3/grid.jpg');}
  @include media('>=2700px', 'retina3x') {background-image: url('../4/grid.jpg');}
  @include media('>=5400px', 'retina3x') {background-image: url('../grid.jpg');}
  @include media('>=450px', 'retina4x') {background-image: url('../2/grid.jpg');}
  @include media('>=900px', 'retina4x') {background-image: url('../3/grid.jpg');}
  @include media('>=1800px', 'retina4x') {background-image: url('../4/grid.jpg');}
  @include media('>=3600px', 'retina4x') {background-image: url('../grid.jpg');}
}

@media only screen and (min-width:334px) {
  .show2 { display: none; }
  .hide6 { display: inline; }
}
@media only screen and (min-width:374px) {
  .hide7 { display: inline; }
}
@media only screen and (min-width:400px) {
  .hide { display: inline; }
  .taglist { width: 450px; }
  .show { display: none; }
}
@media only screen and (min-width: 550px) {
  .hide5 { display: inline; }
}
@media only screen and (min-width: 700px) {
  .hide4 { display: inline; }
}
@media only screen and (min-width: 950px) {
  .hide3 { display: inline; }
}
