<article>
    <a href='{{ site.url }}/{{article.permalink}}'>
        <div class='div pb100'>
          <picture class='noselect'>
          <source media='(min-width: 2304px)' srcset='{{ site.url }}/{{article.permalink}}.jpg'>
          <source media='(min-width: 1152px)' srcset='{{ site.url }}/4/{{article.permalink}}.jpg'>
          <source media='(min-width: 576px)' srcset='{{ site.url }}/3/{{article.permalink}}.jpg'>
          <source media='(min-width: 288px)' srcset='{{ site.url }}/2/{{article.permalink}}.jpg'>
          <img src='{{ site.url }}/1/{{article.permalink}}.jpg' class='img alt' alt='{{article.title}}'>
          </picture>
        </div>
    </a>
</article>
