{% assign amount = 10000 %}
{% for i in (1..page.images) %}
{% assign amount = amount | plus:1 }}{% endcapture %}
<a class='z1 m1' href='{{ site.url }}/{{page.permalink}}-00001.jpg'>
  <div class='div' style='padding-bottom: {{page.ratio}}{{page.ratio1}}%'>
    <picture>
      <source data-srcset='{{ site.url }}/1/{{page.permalink}}-{{ amount }}.jpg, {{ site.url }}/2/{{page.permalink}}-{{ amount }}.jpg 2x, {{ site.url }}/3/{{page.permalink}}-{{ amount }}.jpg 3x, {{ site.url }}/4/{{page.permalink}}-{{ amount }}.jpg 4x' media='(max-width: 450px)'>
      <source data-srcset='{{ site.url }}/2/{{page.permalink}}-{{ amount }}.jpg, {{ site.url }}/3/{{page.permalink}}-{{ amount }}.jpg 1.5x, {{ site.url }}/4/{{page.permalink}}-{{ amount }}.jpg 2x, {{ site.url }}/{{page.permalink}}-{{ amount }}.jpg 4x'>
      <img data-src='{{ site.url }}/1/{{page.permalink}}-{{ amount }}.jpg' class='img alt' alt='{{page.title}}'>
    </picture>
    <noscript>
      <picture>
        <source srcset='{{ site.url }}/1/{{page.permalink}}-{{ amount }}.jpg, {{ site.url }}/2/{{page.permalink}}-{{ amount }}.jpg 2x, {{ site.url }}/3/{{page.permalink}}-{{ amount }}.jpg 3x, {{ site.url }}/4/{{page.permalink}}-{{ amount }}.jpg 4x' media='(max-width: 450px)'>
        <source srcset='{{ site.url }}/2/{{page.permalink}}-{{ amount }}.jpg, {{ site.url }}/3/{{page.permalink}}-{{ amount }}.jpg 1.5x, {{ site.url }}/4/{{page.permalink}}-{{ amount }}.jpg 2x, {{ site.url }}/{{page.permalink}}-{{ amount }}.jpg 4x'>
        <img src='{{ site.url }}/1/{{page.permalink}}-{{ amount }}.jpg' class='img alt' alt='{{page.title}}'>
      </picture>
    </noscript>
  </div>
</a>
{% endfor %}
