{% if page.ratios %}


<div class="li">
  {% assign amount = 10000 %}
  {% assign b2 = page.images | divided_by: 2 | floor %}
  {% for ratios in page.ratios limit: b2 %}
  {% assign amount = amount | plus:1 }}{% endcapture %}
  <a class='z1' href='https://raw.githubusercontent.com/hallhassi/blaise/master/{{page.permalink}}-{{ amount }}.jpg'>
    <div class='div96' style='padding-bottom: {{ratios}}%'>
      <picture class='noselect'>
        {% if page.maxres <= 1280 %}
        <img data-src='{{ site.url }}/{{page.permalink}}-{{ amount }}.jpg' class='img alt' alt='{{page.title}}'>
        {% else %}
        <source data-srcset='{{ site.url }}/1/{{page.permalink}}-{{ amount }}.jpg, {{ site.url }}/2/{{page.permalink}}-{{ amount }}.jpg 2x, {{ site.url }}/3/{{page.permalink}}-{{ amount }}.jpg 3x, {{ site.url }}/4/{{page.permalink}}-{{ amount }}.jpg 4x' media='(max-width: 450px)'>
        <source data-srcset='{{ site.url }}/2/{{page.permalink}}-{{ amount }}.jpg, {{ site.url }}/3/{{page.permalink}}-{{ amount }}.jpg 1.5x, {{ site.url }}/4/{{page.permalink}}-{{ amount }}.jpg 2x, {{ site.url }}/{{page.permalink}}-{{ amount }}.jpg 4x'>
        <img data-src='{{ site.url }}/1/{{page.permalink}}-{{ amount }}.jpg' class='img alt' alt='{{page.title}}'>
        {% endif %}
      </picture>
      <noscript>
        <picture class='noselect'>
          {% if page.maxres <= 1280 %}
          <img src='{{ site.url }}/{{page.permalink}}-{{ amount }}.jpg' class='img alt' alt='{{page.title}}'>
          {% else %}
          <source srcset='{{ site.url }}/1/{{page.permalink}}-{{ amount }}.jpg, {{ site.url }}/2/{{page.permalink}}-{{ amount }}.jpg 2x, {{ site.url }}/3/{{page.permalink}}-{{ amount }}.jpg 3x, {{ site.url }}/4/{{page.permalink}}-{{ amount }}.jpg 4x' media='(max-width: 450px)'>
          <source srcset='{{ site.url }}/2/{{page.permalink}}-{{ amount }}.jpg, {{ site.url }}/3/{{page.permalink}}-{{ amount }}.jpg 1.5x, {{ site.url }}/4/{{page.permalink}}-{{ amount }}.jpg 2x, {{ site.url }}/{{page.permalink}}-{{ amount }}.jpg 4x'>
          <img src='{{ site.url }}/1/{{page.permalink}}-{{ amount }}.jpg' class='img alt' alt='{{page.title}}'>
          {% endif %}
        </picture>
      </noscript>
    </div>
  </a>
  {% endfor %}
</div>
<div class="ri">
  {% assign value = page.images | modulo:2 %}
  {% if value != 0 %}
  {% assign b3 = b2 | plus: 1 %}
  {% else %}
  {% assign b3 = b2 %}
  {% endif %}
  {% assign amount = 10000 | plus: b3 %}
  {% for ratios in page.ratios offset: b3 %}
  {% assign amount = amount | plus:1 }}{% endcapture %}
  <a class='z1' href='https://raw.githubusercontent.com/hallhassi/blaise/master/{{page.permalink}}-{{ amount }}.jpg'>
    <div class='div96' style='padding-bottom: {{ratios}}%'>
      <picture class='noselect'>
        {% if page.maxres <= 1280 %}
        <img data-src='{{ site.url }}/{{page.permalink}}-{{ amount }}.jpg' class='img alt' alt='{{page.title}}'>
        {% else %}
        <source data-srcset='{{ site.url }}/1/{{page.permalink}}-{{ amount }}.jpg, {{ site.url }}/2/{{page.permalink}}-{{ amount }}.jpg 2x, {{ site.url }}/3/{{page.permalink}}-{{ amount }}.jpg 3x, {{ site.url }}/4/{{page.permalink}}-{{ amount }}.jpg 4x' media='(max-width: 450px)'>
        <source data-srcset='{{ site.url }}/2/{{page.permalink}}-{{ amount }}.jpg, {{ site.url }}/3/{{page.permalink}}-{{ amount }}.jpg 1.5x, {{ site.url }}/4/{{page.permalink}}-{{ amount }}.jpg 2x, {{ site.url }}/{{page.permalink}}-{{ amount }}.jpg 4x'>
        <img data-src='{{ site.url }}/1/{{page.permalink}}-{{ amount }}.jpg' class='img alt' alt='{{page.title}}'>
        {% endif %}
      </picture>
      <noscript>
        <picture class='noselect'>
          {% if page.maxres <= 1280 %}
          <img src='{{ site.url }}/{{page.permalink}}-{{ amount }}.jpg' class='img alt' alt='{{page.title}}'>
          {% else %}
          <source srcset='{{ site.url }}/1/{{page.permalink}}-{{ amount }}.jpg, {{ site.url }}/2/{{page.permalink}}-{{ amount }}.jpg 2x, {{ site.url }}/3/{{page.permalink}}-{{ amount }}.jpg 3x, {{ site.url }}/4/{{page.permalink}}-{{ amount }}.jpg 4x' media='(max-width: 450px)'>
          <source srcset='{{ site.url }}/2/{{page.permalink}}-{{ amount }}.jpg, {{ site.url }}/3/{{page.permalink}}-{{ amount }}.jpg 1.5x, {{ site.url }}/4/{{page.permalink}}-{{ amount }}.jpg 2x, {{ site.url }}/{{page.permalink}}-{{ amount }}.jpg 4x'>
          <img src='{{ site.url }}/1/{{page.permalink}}-{{ amount }}.jpg' class='img alt' alt='{{page.title}}'>
          {% endif %}
        </picture>
      </noscript>
    </div>
  </a>
  {% endfor %}
</div>

{% if value != 0 %}
{% assign amount = 10000 | plus: b3 %}
{% for ratios in page.ratios offset: b2 limit: 1 %}

<div class="mi">
  <a class='z1' href='https://raw.githubusercontent.com/hallhassi/blaise/master/{{page.permalink}}-{{ amount }}.jpg'>
    <div class='div96' style='padding-bottom: {{ratios}}%'>
      <picture class='noselect'>
        {% if page.maxres <= 1280 %}
        <img data-src='{{ site.url }}/{{page.permalink}}-{{ amount }}.jpg' class='img alt' alt='{{page.title}}'>
        {% else %}
        <source data-srcset='{{ site.url }}/1/{{page.permalink}}-{{ amount }}.jpg, {{ site.url }}/2/{{page.permalink}}-{{ amount }}.jpg 2x, {{ site.url }}/3/{{page.permalink}}-{{ amount }}.jpg 3x, {{ site.url }}/4/{{page.permalink}}-{{ amount }}.jpg 4x' media='(max-width: 450px)'>
        <source data-srcset='{{ site.url }}/2/{{page.permalink}}-{{ amount }}.jpg, {{ site.url }}/3/{{page.permalink}}-{{ amount }}.jpg 1.5x, {{ site.url }}/4/{{page.permalink}}-{{ amount }}.jpg 2x, {{ site.url }}/{{page.permalink}}-{{ amount }}.jpg 4x'>
        <img data-src='{{ site.url }}/1/{{page.permalink}}-{{ amount }}.jpg' class='img alt' alt='{{page.title}}'>
        {% endif %}
      </picture>
      <noscript>
        <picture class='noselect'>
          {% if page.maxres <= 1280 %}
          <img src='{{ site.url }}/{{page.permalink}}-{{ amount }}.jpg' class='img alt' alt='{{page.title}}'>
          {% else %}
          <source srcset='{{ site.url }}/1/{{page.permalink}}-{{ amount }}.jpg, {{ site.url }}/2/{{page.permalink}}-{{ amount }}.jpg 2x, {{ site.url }}/3/{{page.permalink}}-{{ amount }}.jpg 3x, {{ site.url }}/4/{{page.permalink}}-{{ amount }}.jpg 4x' media='(max-width: 450px)'>
          <source srcset='{{ site.url }}/2/{{page.permalink}}-{{ amount }}.jpg, {{ site.url }}/3/{{page.permalink}}-{{ amount }}.jpg 1.5x, {{ site.url }}/4/{{page.permalink}}-{{ amount }}.jpg 2x, {{ site.url }}/{{page.permalink}}-{{ amount }}.jpg 4x'>
          <img src='{{ site.url }}/1/{{page.permalink}}-{{ amount }}.jpg' class='img alt' alt='{{page.title}}'>
          {% endif %}
        </picture>
      </noscript>
    </div>
  </a>
</div>

{% endfor %}
{% endif %}


{% else %}


<div class="li">
  {% assign amount = 10000 %}
  {% assign b2 = page.images | divided_by: 2 | floor %}
  {% for i in (1..b2) %}
  {% assign amount = amount | plus:1 }}{% endcapture %}
  <a class='z1' href='https://raw.githubusercontent.com/hallhassi/blaise/master/{{page.permalink}}-{{ amount }}.jpg'>
    <div class='div96' style='padding-bottom: {{page.ratio}}%'>
      <picture class='noselect'>
        {% if page.maxres <= 1280 %}
        <img data-src='{{ site.url }}/{{page.permalink}}-{{ amount }}.jpg' class='img alt' alt='{{page.title}}'>
        {% else %}
        <source data-srcset='{{ site.url }}/1/{{page.permalink}}-{{ amount }}.jpg, {{ site.url }}/2/{{page.permalink}}-{{ amount }}.jpg 2x, {{ site.url }}/3/{{page.permalink}}-{{ amount }}.jpg 3x, {{ site.url }}/4/{{page.permalink}}-{{ amount }}.jpg 4x' media='(max-width: 450px)'>
        <source data-srcset='{{ site.url }}/2/{{page.permalink}}-{{ amount }}.jpg, {{ site.url }}/3/{{page.permalink}}-{{ amount }}.jpg 1.5x, {{ site.url }}/4/{{page.permalink}}-{{ amount }}.jpg 2x, {{ site.url }}/{{page.permalink}}-{{ amount }}.jpg 4x'>
        <img data-src='{{ site.url }}/1/{{page.permalink}}-{{ amount }}.jpg' class='img alt' alt='{{page.title}}'>
        {% endif %}
      </picture>
      <noscript>
        <picture class='noselect'>
          {% if page.maxres <= 1280 %}
          <img src='{{ site.url }}/{{page.permalink}}-{{ amount }}.jpg' class='img alt' alt='{{page.title}}'>
          {% else %}
          <source srcset='{{ site.url }}/1/{{page.permalink}}-{{ amount }}.jpg, {{ site.url }}/2/{{page.permalink}}-{{ amount }}.jpg 2x, {{ site.url }}/3/{{page.permalink}}-{{ amount }}.jpg 3x, {{ site.url }}/4/{{page.permalink}}-{{ amount }}.jpg 4x' media='(max-width: 450px)'>
          <source srcset='{{ site.url }}/2/{{page.permalink}}-{{ amount }}.jpg, {{ site.url }}/3/{{page.permalink}}-{{ amount }}.jpg 1.5x, {{ site.url }}/4/{{page.permalink}}-{{ amount }}.jpg 2x, {{ site.url }}/{{page.permalink}}-{{ amount }}.jpg 4x'>
          <img src='{{ site.url }}/1/{{page.permalink}}-{{ amount }}.jpg' class='img alt' alt='{{page.title}}'>
          {% endif %}
        </picture>
      </noscript>
    </div>
  </a>
  {% endfor %}
</div>
<div class="ri">
  {% assign value = page.images | modulo:2 %}
  {% if value != 0 %}
  {% assign b3 = b2 | plus: 1 %}
  {% else %}
  {% assign b3 = b2 %}
  {% endif %}
  {% assign amount = 10000 | plus: b3 %}
  {% for i in (1..page.images) offset: b3 %}
  {% assign amount = amount | plus:1 }}{% endcapture %}
  <a class='z1' href='https://raw.githubusercontent.com/hallhassi/blaise/master/{{page.permalink}}-{{ amount }}.jpg'>
    <div class='div96' style='padding-bottom: {{page.ratio}}%'>
      <picture class='noselect'>
        {% if page.maxres <= 1280 %}
        <img data-src='{{ site.url }}/{{page.permalink}}-{{ amount }}.jpg' class='img alt' alt='{{page.title}}'>
        {% else %}
        <source data-srcset='{{ site.url }}/1/{{page.permalink}}-{{ amount }}.jpg, {{ site.url }}/2/{{page.permalink}}-{{ amount }}.jpg 2x, {{ site.url }}/3/{{page.permalink}}-{{ amount }}.jpg 3x, {{ site.url }}/4/{{page.permalink}}-{{ amount }}.jpg 4x' media='(max-width: 450px)'>
        <source data-srcset='{{ site.url }}/2/{{page.permalink}}-{{ amount }}.jpg, {{ site.url }}/3/{{page.permalink}}-{{ amount }}.jpg 1.5x, {{ site.url }}/4/{{page.permalink}}-{{ amount }}.jpg 2x, {{ site.url }}/{{page.permalink}}-{{ amount }}.jpg 4x'>
        <img data-src='{{ site.url }}/1/{{page.permalink}}-{{ amount }}.jpg' class='img alt' alt='{{page.title}}'>
        {% endif %}
      </picture>
      <noscript>
        <picture class='noselect'>
          {% if page.maxres <= 1280 %}
          <img src='{{ site.url }}/{{page.permalink}}-{{ amount }}.jpg' class='img alt' alt='{{page.title}}'>
          {% else %}
          <source srcset='{{ site.url }}/1/{{page.permalink}}-{{ amount }}.jpg, {{ site.url }}/2/{{page.permalink}}-{{ amount }}.jpg 2x, {{ site.url }}/3/{{page.permalink}}-{{ amount }}.jpg 3x, {{ site.url }}/4/{{page.permalink}}-{{ amount }}.jpg 4x' media='(max-width: 450px)'>
          <source srcset='{{ site.url }}/2/{{page.permalink}}-{{ amount }}.jpg, {{ site.url }}/3/{{page.permalink}}-{{ amount }}.jpg 1.5x, {{ site.url }}/4/{{page.permalink}}-{{ amount }}.jpg 2x, {{ site.url }}/{{page.permalink}}-{{ amount }}.jpg 4x'>
          <img src='{{ site.url }}/1/{{page.permalink}}-{{ amount }}.jpg' class='img alt' alt='{{page.title}}'>
          {% endif %}
        </picture>
      </noscript>
    </div>
  </a>
  {% endfor %}
</div>

{% if value != 0 %}
{% assign amount = 10000 | plus: b3 %}

<div class="mi">
  <a class='z1' href='https://raw.githubusercontent.com/hallhassi/blaise/master/{{page.permalink}}-{{ amount }}.jpg'>
    <div class='div96' style='padding-bottom: {{page.ratio}}%'>
      <picture class='noselect'>
        {% if page.maxres <= 1280 %}
        <img data-src='{{ site.url }}/{{page.permalink}}-{{ amount }}.jpg' class='img alt' alt='{{page.title}}'>
        {% else %}
        <source data-srcset='{{ site.url }}/1/{{page.permalink}}-{{ amount }}.jpg, {{ site.url }}/2/{{page.permalink}}-{{ amount }}.jpg 2x, {{ site.url }}/3/{{page.permalink}}-{{ amount }}.jpg 3x, {{ site.url }}/4/{{page.permalink}}-{{ amount }}.jpg 4x' media='(max-width: 450px)'>
        <source data-srcset='{{ site.url }}/2/{{page.permalink}}-{{ amount }}.jpg, {{ site.url }}/3/{{page.permalink}}-{{ amount }}.jpg 1.5x, {{ site.url }}/4/{{page.permalink}}-{{ amount }}.jpg 2x, {{ site.url }}/{{page.permalink}}-{{ amount }}.jpg 4x'>
        <img data-src='{{ site.url }}/1/{{page.permalink}}-{{ amount }}.jpg' class='img alt' alt='{{page.title}}'>
        {% endif %}
      </picture>
      <noscript>
        <picture class='noselect'>
          {% if page.maxres <= 1280 %}
          <img src='{{ site.url }}/{{page.permalink}}-{{ amount }}.jpg' class='img alt' alt='{{page.title}}'>
          {% else %}
          <source srcset='{{ site.url }}/1/{{page.permalink}}-{{ amount }}.jpg, {{ site.url }}/2/{{page.permalink}}-{{ amount }}.jpg 2x, {{ site.url }}/3/{{page.permalink}}-{{ amount }}.jpg 3x, {{ site.url }}/4/{{page.permalink}}-{{ amount }}.jpg 4x' media='(max-width: 450px)'>
          <source srcset='{{ site.url }}/2/{{page.permalink}}-{{ amount }}.jpg, {{ site.url }}/3/{{page.permalink}}-{{ amount }}.jpg 1.5x, {{ site.url }}/4/{{page.permalink}}-{{ amount }}.jpg 2x, {{ site.url }}/{{page.permalink}}-{{ amount }}.jpg 4x'>
          <img src='{{ site.url }}/1/{{page.permalink}}-{{ amount }}.jpg' class='img alt' alt='{{page.title}}'>
          {% endif %}
        </picture>
      </noscript>
    </div>
  </a>
</div>

{% endif %}


{% endif %}
