<div class='clearfix bg'>
    <a class='article' href='{{ site.url }}/{{article.permalink}}'>
      <div class='div pb100'>
        <picture>
        <source media='(min-width: 800px)' srcset='{{ site.url }}/{{article.permalink}}.jpg'>
        <source media='(min-width: 400px)' srcset='{{ site.url }}/50/{{article.permalink}}.jpg'>
        <source media='(min-width: 200px)' srcset='{{ site.url }}/25/{{article.permalink}}.jpg'>
        <source media='(min-width: 100px)' srcset='{{ site.url }}/12/{{article.permalink}}.jpg'>
        <source media='(min-width: 50px)' srcset='{{ site.url }}/6/{{article.permalink}}.jpg'>
        <img src='{{ site.url }}/{{article.permalink}}.jpg' class='img alt' alt='{{article.title}}'>
        </picture>
      </div>
    </a>
    {% include shop-text.html %}
</div>
