{% if article.layout == 'tag' or article.layout == 'all' %}

<div class='w1'>
    <div class='p p05'>
        <div class='x3'>
            <a href='../../' class='a2'>blaise<span class='hide'>larmee</span></a> / <a href='../' class='a2'>{{ article.collection }}</a> / {{ article.url | split:'/' | last }}
        </div>
    </div>
</div>
{% elsif article.layout == 'dir' %}
<div class='w1'>
    <div class='p p05'>
        <div class='x3'>
            <a href='../' class='a2'>blaise<span class='hide'>larmee</span></a> / {{ article.url | replace:'/','' | replace: 'index.html','' }}
        </div>
    </div>
</div>
{% endif %}

<div class='article2'>
  <div class='p'>
    <nav class='p1 {% if article.layout == 'tag' or article.layout == 'all' or article.layout == 'dir' or article.url == '/' %}m2{% else %}{% endif %} simpleCart_shelfItem'>
        <ul>
            {% if article.url == '/' %}
            <li><a href='mailto:blaiselarmee@gmail.com'>Contact</a>
            </li>
            {% endif %}
            {% if article.buy %}
            <li><a>Buy</a>
                <ul>
                    {% if article.paypal %}
                    <li>
                        <a href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id={{ article.paypal }}'>${{ article.price | plus:'10' }}{% if article.permalink == 'aidan-koch-the-whale' %}{% else %} signed{% endif %}</a>
                    </li>
                    {% endif %}
                    {% if article.2dcloud %}
                    <li>
                        <a href='http://www.2dcloud.com{{ article.url }}'>${{ article.price }} 2dcloud</a>
                    </li>
                    {% endif %}
                    {% if article.amazon %}
                    <li>
                        <a href='https://www.amazon.com/{{ article.amazon }}'>${{ article.price }} amazon</a>
                    </li>
                    {% endif %}
                    {% if article.storenvy %}
                    <li>
                        <a href='http://sonatina.storenvy.com/products/{{ article.storenvy }}'>${{ article.price }} storenvy</a>
                    </li>
                    {% endif %}
                    {% if article.tictail %}
                    <li>
                        <a href='http://{{ article.tictail }}'>${{ article.price }} tictail</a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% include shop-text2.html %}
  </div>
</div>
