<div class='grid1 bg1' style="background-image: url(../{{page.url}}.jpg), url(../grid.jpg);">
  <nav class='nav noselect p1 simpleCart_shelfItem' >
    <ul>
      {% if page.buy %}
      <li><a>buy</a>
        <ul>
          {% if page.paypal %}
          <li>
              <a href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id={{ page.paypal }}'>${{ page.price | plus:'10' }}{% if page.permalink == 'aidan-koch-the-whale' %}{% else %} signed{% endif %}</a>
          </li>
          {% endif %}
          {% if page.2dcloud %}
          <li>
              <a href='https://shop.2dcloud.com/products/{{ page.2dcloud }}'>${{ page.price }} 2dcloud</a>
          </li>
          {% endif %}
          {% if page.storenvy %}
          <li>
              <a href='http://sonatina.storenvy.com/products/{{ page.storenvy }}'>${{ page.price }} storenvy</a>
          </li>
          {% endif %}
          {% if page.tictail %}
          <li>
              <a href='http://{{ page.tictail }}'>${{ page.price }} tictail</a>
          </li>
          {% endif %}
          {% if page.printedmatter %}
          <li>
              <a href='https://www.printedmatter.org/catalog/{{ page.printedmatter }}'>${{ page.price }} printed matter</a>
          </li>
          {% endif %}
          {% if page.publicationstudio %}
          <li>
              <a href='https://{{ page.publicationstudio }}'>${{ page.price }} publication studio</a>
          </li>
          {% endif %}
          {% if page.amazon %}
          <li>
              <a href='https://www.amazon.com/{{ page.amazon }}'>${{ page.price }} amazon</a>
          </li>
          {% endif %}
        </ul>
      </li>
      {% endif %}
      <li>
        <a id='copy' type='button' onclick='copy()' class='btn' data-clipboard-demo data-clipboard-action='copy' data-clipboard-text='{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}'>
          copy link
        </a>
      </li>
    </ul>
  </nav>
  {% include text2.html %}
</div>
