<div class='p m2'>
    <div class='x3'>
        {% if page.url == '/' %}<span class='hide6'><a href='../../' class='a2'>blaise<span class='hide7'>larmee</span></a> / <span class='show'><br/></span></span><a href='/all/' class='a2'>all</a> / <span class='show2'><br/></span>index{% else %}<a href='../../' class='a2'>blaise<span class='hide5'>larmee</span></a> / {% if page.layout == 'dir' %}{{ page.url | replace:'/','' | replace: 'index.html','' }}{% elsif page.url == '/all/products.html' %}{% else %}<a href='../' class='a2'>{{ page.collection }}</a> / {{ page.url | split:'/' | last }}{% endif %}{% endif %}
        <nav class='noselect p1 simpleCart_shelfItem' style='position: absolute; top: 0; right: 0;'>
            <ul>
                {% if page.buy %}
                <li><a>Buy</a>
                    <ul>
                        {% if page.paypal %}
                        <li>
                            <a href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id={{ page.paypal }}'>${{ page.price | plus:'10' }}{% if page.permalink == 'aidan-koch-the-whale' %}{% else %} signed{% endif %}</a>
                        </li>
                        {% endif %}
                        {% if page.2dcloud %}
                        <li>
                            <a href='http://www.2dcloud.com{{ page.url }}'>${{ page.price }} 2dcloud</a>
                        </li>
                        {% endif %}
                        {% if page.amazon %}
                        <li>
                            <a href='https://www.amazon.com/{{ page.amazon }}'>${{ page.price }} amazon</a>
                        </li>
                        {% endif %}
                        {% if page.storenvy %}
                        <li>
                            <a href='http://sonatina.storenvy.com/products/{{ page.storenvy }}'>${{ page.price }} storenvy</a>
                        </li>
                        {% endif %}
                        {% if page.tictail %}
                        <li>
                            <a href='http://{{ page.tictail }}'>${{ page.price }} tictail</a>
                        </li>
                        {% endif %}
                        {% if page.printedmatter %}
                        <li>
                            <a href='https://www.printedmatter.org/catalog/{{ page.printedmatter }}'>${{ page.price }} Printed Matter</a>
                        </li>
                        {% endif %}
                        {% if page.publicationstudio %}
                        <li>
                            <a href='https://{{ page.publicationstudio }}'>${{ page.price }} Publication Studio</a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
                <li><a>Share</a>
                    <ul>
                        <li>
                            <a id='copy' type='button' onclick='copy()' class='btn' data-clipboard-demo data-clipboard-action='copy' data-clipboard-text='{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}'>copy link</a></li>
                        <li><a href='https://twitter.com/share?text={% if page.bio %}{{page.bio}}{% elsif page.title %}{{page.title}}{% else %}{{ page.categories | capitalize }}{{ page.url | replace: '/',' ' | capitalize }}{% endif %}&url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}'>
                            <svg class='m3' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300.00006 244.18703' width='1em' height='1em' version='1.1' xmlns:cc='http://creativecommons.org/ns#' xmlns:dc='http://purl.org/dc/elements/1.1/'>
                             <g style='' transform='translate(-539.18 -568.86)'>
                              <path class='blue' d='m633.9 812.04c112.46 0 173.96-93.168 173.96-173.96 0-2.6463-0.0539-5.2806-0.1726-7.903 11.938-8.6302 22.314-19.4 30.498-31.66-10.955 4.8694-22.744 8.1474-35.111 9.6255 12.623-7.5693 22.314-19.543 26.886-33.817-11.813 7.0031-24.895 12.093-38.824 14.841-11.157-11.884-27.041-19.317-44.629-19.317-33.764 0-61.144 27.381-61.144 61.132 0 4.7978 0.5364 9.4646 1.5854 13.941-50.815-2.5569-95.874-26.886-126.03-63.88-5.2508 9.0354-8.2785 19.531-8.2785 30.73 0 21.212 10.794 39.938 27.208 50.893-10.031-0.30992-19.454-3.0635-27.69-7.6468-0.009 0.25652-0.009 0.50661-0.009 0.78077 0 29.61 21.075 54.332 49.051 59.934-5.1376 1.4006-10.543 2.1516-16.122 2.1516-3.9336 0-7.766-0.38716-11.491-1.1026 7.7838 24.293 30.355 41.971 57.115 42.465-20.926 16.402-47.287 26.171-75.937 26.171-4.929 0-9.7983-0.28036-14.584-0.84634 27.059 17.344 59.189 27.464 93.722 27.464'/>
                             </g>
                            </svg>
                            twitter
                            </a>
                        </li>
                        <li>
                            <a href='https://www.facebook.com/sharer/sharer.php?u={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}'  target='_blank'>
                            <svg class='m3' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
                                 width='1em' height='1em' viewBox='0 0 266.893 266.895' enable-background='new 0 0 266.893 266.895'
                                 xml:space='preserve'>
                            <path class='blue' d='M248.082,262.307c7.854,0,14.223-6.369,14.223-14.225V18.812
                                c0-7.857-6.368-14.224-14.223-14.224H18.812c-7.857,0-14.224,6.367-14.224,14.224v229.27c0,7.855,6.366,14.225,14.224,14.225
                                H248.082z'/>
                            <path fill='#FFFFFF' d='M182.409,262.307v-99.803h33.499l5.016-38.895h-38.515V98.777c0-11.261,3.127-18.935,19.275-18.935
                                l20.596-0.009V45.045c-3.562-0.474-15.788-1.533-30.012-1.533c-29.695,0-50.025,18.126-50.025,51.413v28.684h-33.585v38.895h33.585
                                v99.803H182.409z'/>
                            </svg>
                            facebook
                            </a>
                        </li>
                        {% if page.layout == 'tag' or page.layout == 'dir' or page.url == '/all/videos' or page.url == '/all/words/' %}{% else %}
                        <li>
                            <a href='http://www.pinterest.com/pin/create/bookmarklet/?url=http%3A%2F%2Fblaiselarmee.com%2F{{page.url}}%2F&media=http%3A%2F%2Fblaiselarmee.com%2F{% if page.url == '/' or page.layout == 'all' %}2001-book{% else %}{{ page.url  | replace: '/','' }}{% endif %}.jpg&is_video=false&description={% if page.bio %}{{page.bio}}{% elsif page.title %}{{page.title}}{% else %}{{ page.categories | capitalize }}{{page.url | replace: '/',' ' | capitalize }}{% endif %}{% if page.format %}{{page.format}}{% endif %}' target='_blank'>
                                <svg class='m3' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
                                     width='1em' height='1em' viewBox='0 0 144 144' enable-background='new 0 0 144 144' xml:space='preserve'>
                                <g>
                                    <g>
                                        <path class='blue' d='M71.9,5.4C35.1,5.4,5.3,35.2,5.3,72c0,28.2,17.5,52.3,42.3,62c-0.6-5.3-1.1-13.3,0.2-19.1
                                            c1.2-5.2,7.8-33.1,7.8-33.1s-2-4-2-9.9c0-9.3,5.4-16.2,12-16.2c5.7,0,8.4,4.3,8.4,9.4c0,5.7-3.6,14.3-5.5,22.2
                                            c-1.6,6.6,3.3,12,9.9,12c11.8,0,20.9-12.5,20.9-30.5c0-15.9-11.5-27.1-27.8-27.1c-18.9,0-30.1,14.2-30.1,28.9
                                            c0,5.7,2.2,11.9,5,15.2c0.5,0.7,0.6,1.2,0.5,1.9c-0.5,2.1-1.6,6.6-1.8,7.5c-0.3,1.2-1,1.5-2.2,0.9c-8.3-3.9-13.5-16-13.5-25.8
                                            c0-21,15.3-40.3,44-40.3c23.1,0,41,16.5,41,38.4c0,22.9-14.5,41.4-34.5,41.4c-6.7,0-13.1-3.5-15.3-7.6c0,0-3.3,12.7-4.1,15.8
                                            c-1.5,5.8-5.6,13-8.3,17.5c6.2,1.9,12.8,3,19.7,3c36.8,0,66.6-29.8,66.6-66.6C138.5,35.2,108.7,5.4,71.9,5.4z'/>
                                    </g>
                                </g>
                                </svg>
                                pinterest
                            </a>
                        </li>
                        {% endif %}
                        <li><a href='mailto:?subject={% capture email %}Blaise Larmee{% if page.title %} - {{ page.title }}{% elsif page.layout == 'default' %}{% elsif page.bio %} - {{ page.bio | truncatewords: 2, '' }}{% else %}{{ page.categories | capitalize }}{{page.url | replace: '/',' ' | capitalize }}{% endif %}&body=Hi, I just found this website and thought you might be interested {{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}{% endcapture %}{{ email | uri_escape }}'>
                            <svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
                                 width='1em' height='1em' viewBox='0 0 28 28' enable-background='new 0 0 28 28' xml:space='preserve'>
                            <line class='email' x1='28' y1='27.529' x2='19.003' y2='18.531'/>
                            <line class='email' x1='0' y1='27.529' x2='8.997' y2='18.531'/>
                            <polyline class='email' points='14.006,9.545 0,9.545 0,27.528 0.01,27.529 28,27.529
                                28,9.545 13.994,9.545 '/>
                            <polyline class='email' points='28,9.545 14,23.545 0,9.545 '/>
                            </svg>
                            email
                            </a>
                        </li>
                    </ul>
                </li>
                {% if page.url == '/' %}
                <li><a href='mailto:blaiselarmee@gmail.com'>Contact</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% include text2.html %}
</div>
