<div class='li'>
  <div><p>Removed from social I am mystified.</p></div>

  <div><p>I'm kinda dumb bc no one understands me. I'm not sure if they ever could but it's much more explicit now. Ppl be like, oh I understand. You're evil.</p></div>

  <div><p>The more reduced, compressed, the more homologous, the more something can be read, identified, its gestalt perceived as a simple vector/shape, the more you will encounter it in the world. It is the simplest form, the simplest pattern recognition, that accounts for the highest number of matches.</p></div>

  <div><p>2d is obvious. It's a face, a skin. A surface of water, of rock. That which you can touch, feel the continuity of, fingers brushing across. Like a portal, a door, something to step through. Tip of the iceberg.</p></div>

  <div><p>Taking any thought from the stream of consciousness, attempting to adapt it to a social environment, make it stand on its own legs, survive among other thoughts, commune and compete, is like the energy expent on water rendering it ice. Energy that would have flowed around within throughout. Prepositional energy. The taxonomical energy spent relating a thing to other things, discretizing and integrating to an existing order.</p></div>

  <div><p>Bringing the private into the public is only to be expected, but who wants to claim they let down God when the direct recipient of your actions is right there in front of you?</p></div>

  <div><p>Ironic that in being pushed out I would try desperately to get back in</p></div>

  <div><p>Dumping more receipts in hopes of qwelling the blaze</p></div>

  <div><p>This whole narrative of the past few years has been turning over a new leaf, not being this person I was. And now I'm realizing that was all part of the same person. That my whole, uh, woke, um, self-sabatoge, uh, self-flagellation? That that was all — in terms of turning over a new leaf, that's what I'm doing now — that that was all part of the … the problem.</p></div>

  <div><p>Obviously that idea of triangulation that I had — bifurcating the self — that was forced upon me by a justice process. If you are innocent you are fully innocent. If you are guilty you are separated into an innocent and a guilty and the goal is to relinquish and purge the guilty from the underlying liberal innocent.</p></div>

  <div><p>My body contains itself. I express myself: I cannot but be articulated.</p></div>

  <div><p>Addicted to Instagram but what does that mean?</p><p>I mean it's like addicted to production reproduction. Like this cultural trap. Like I saw it coming. Like I'm doing it and it's ironic that I'm doing it and somehow I can allude to that ironical situation in a witty way.</p><p>It's like this thing just reproduces itself and uses my body for it and that's terrible and amazing. It's like I'm giving myself to something other than myself. It's like, speak to me muse! Speak to me fungus!</p><p>Explode a million spores from my head!</p></div>

  <div><p>Idea of kind of art that puts you in a public situation and you stim as a response</p></div>

  <div><p>My problem is someone says something and I don't understand but I nod my head anyway</p></div>
</div>
