<!DOCTYPE html>
<html>

{% include head.html %}

<body class='{% if page.url == '/' %}bg bg-bottom{% else %}flexbg{% endif %}'>

{% include navigation.html %}
{% include image.html %}
{% if page.url == '/' %}
{% include text-tag.html %}
{% else %}
{% include text.html %}
{% endif %}
<div class='clearfix p'>
{% include images.html %}
</div>
{% if page.youtube %}
{% include youtube.html %}
{% endif %}
{% if page.bio %}
{% for article in site.posts limit:9 %}
  {% unless article.archive %}
    {% include feed1.html %}
  {% endunless %}
{% endfor %}
{% for article in site.posts offset:9 %}
  {% unless article.archive %}
    {% include feed2.html %}
  {% endunless %}
{% endfor %}
{% else %}
{% for article in site.posts %}
  {% unless article.archive %}
    {% include feed2.html %}
  {% endunless %}
{% endfor %}
{% endif %}

{% include lazy.html %}{% include clipboard.html %}

</body>

</html>
