<!DOCTYPE html>
<html>

{% include head.html %}

<body class='{% if page.url == '/' %}bg bg-bottom{% else %}flexbg{% endif %}'>

{% include navigation.html %}
{% include image.html %}
{% include text.html %}
<div class='clearfix'>
{% include images.html %}
</div>
{% if page.youtube %}
{% include youtube.html %}
{% endif %}
{% if page.bio %}
{% for article in site.posts limit:9 %}
    {% include feed1.html %}
{% endfor %}
{% for article in site.posts offset:9 %}
    {% include feed2.html %}
{% endfor %}
{% else %}
{% for article in site.posts %}
    {% include feed2.html %}
{% endfor %}
{% endif %}

{% include lazy.html %}{% include clipboard.html %}

</body>

</html>
