<!DOCTYPE html>
<html>

{% include head.html %}

<body{% if page.bio or page.statement %} class='bg'{% else %}{% endif %}>

{% include navigation.html %}
{% include image.html %}
{% include text.html %}
{% include images.html %}
{{ content }}

{% if page.bio %}
{% for article in site.posts limit:9 %}
    {% include feed1.html %}
{% endfor %}        
{% for article in site.posts offset:9 %}
    {% include feed2.html %}
{% endfor %}        
{% else %}
{% for article in site.posts %}
    {% include feed2.html %}
{% endfor %}        
{% endif %}

{% include lazy1.html %}
{% include lazy2.html %}

</body>

</html>